button.biz-button {
    width: 20em;
    height: 2em;
    border: solid 3px #649ebe;
    background-color: #7dc3eb; 
    font-family: Inter;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
}

button.biz-button.mouseover {
    background-color: red;
}